# Values override for test namespace
# override example: helm install -f values-test.yaml -f values.yaml airflow .

airflow:
  uid: 1002480000
  gid: 1002480000

  config:
    smtp:
      smtp_mail_from: cas-airflow-test@gov.bc.ca
    elasticsearch:
      target_index: "airflow-logs-test"

  workers:
    extraVolumeMounts:
      - name: gcs-credentials
        mountPath: /gcs
        readOnly: true
      - name: cas-airflow-dynamic-dags
        mountPath: /opt/airflow/dags/dynamic
    extraVolumes:
      - name: gcs-credentials
        secret:
          secretName: gcp-0fad32-test-airflow-logs-service-account-key
      - name: cas-airflow-dynamic-dags
        persistentVolumeClaim:
          claimName: cas-airflow-dynamic-dags-pvc

  apiServer:
    extraVolumeMounts:
      - name: gcs-credentials
        mountPath: /gcs
        readOnly: true
    extraVolumes:
      - name: gcs-credentials
        secret:
          secretName: gcp-0fad32-test-airflow-logs-service-account-key
