# Values override for dev namespace
# override example: helm install -f values-dev.yaml -f values.yaml airflow .

airflow:
  uid: 1002490000
  gid: 1002490000

  config:
    smtp:
      smtp_mail_from: cas-airflow-dev@gov.bc.ca
    elasticsearch:
      target_index: "airflow-logs-dev"

  workers:
    extraVolumeMounts:
      - name: gcs-credentials
        mountPath: /gcs
        readOnly: true
      - name: cas-airflow-dynamic-dags
        mountPath: /opt/airflow/dags/dynamic
    extraVolumes:
      - name: gcs-credentials
        secret:
          secretName: gcp-0fad32-dev-airflow-logs-service-account-key
      - name: cas-airflow-dynamic-dags
        persistentVolumeClaim:
          claimName: cas-airflow-dynamic-dags-pvc

  apiServer:
    replicas: 2
    extraVolumeMounts:
      - name: gcs-credentials
        mountPath: /gcs
        readOnly: true
    extraVolumes:
      - name: gcs-credentials
        secret:
          secretName: gcp-0fad32-dev-airflow-logs-service-account-key
