name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.2

      # Needed to release the cas-airflow chart
      - name: Add helm repos
        run: |
          helm repo add cas-postgres https://bcgov.github.io/cas-postgres/
          helm repo add apache-airflow "https://airflow.apache.org/"
          helm repo add pipeline https://bcgov.github.io/cas-pipeline/

      - name: Update chart dependencies
        working-directory: ./helm/cas-airflow
        run: |
          helm dep up

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: helm
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  cas-airflow-build:
    needs: [release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-image
        with:
          image_name: cas-airflow
          context: .
          dockerfile_path: Dockerfile
          github_token: ${{ secrets.GITHUB_TOKEN }}
          chart_version: 3.1.0
          is_chart_release: true
  cas-airflow-dag-trigger-build:
    needs: [release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-image
        with:
          image_name: cas-airflow-dag-trigger
          context: dag-trigger
          dockerfile_path: dag-trigger/Dockerfile
          github_token: ${{ secrets.GITHUB_TOKEN }}
          chart_version: 1.2.2
          is_chart_release: true
